* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4 {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 900;
}

.wrapper {
    padding: 1rem;
    min-width: 350px;
}

header {
    background-image: url(../images/bkg-cropped.jpg); /* Source: https://unsplash.com/photos/THJJRUhNlEc */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(77, 71, 71);
    background-blend-mode: multiply;
    color: white;
    margin: -1rem;
    /* padding: .4rem .4rem 0; */
}

header h1 {
    font-weight: 900;
    font-size: 3.2rem;
    margin: 0;
    padding-left: 1rem;
    padding-top: .4rem;
}

header h3 {
    font-size: 1.8rem;
    text-align: right;
    margin-top: 4rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.search-bar input,
.search-bar button {
    padding: .6rem;
    border: 1px solid gray;
    /* border-radius: 5px; */
    font-size: .875rem;
}

.search-bar input {
    margin-right: -6px;
    border-radius: 5px 0 0 5px;
    background-image: url(../images/search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: difference;
    background-color: white;
    padding-left: 2.8rem;
}

.search-bar button {
    border-radius: 0 5px 5px 0px;
}

/* Movie Container */

.results {
    margin: 0 -.4rem;
}

.movie {
    margin-top: 2rem;
    display: grid;
    gap: .6rem;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
}

.poster {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: gray;
}

.movie-details {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.movie-details p {
    font-size: .7rem;
    padding: .4rem;
}

.movie-details button {
    margin-left: auto;
    border: none;
    background-color: transparent;
}

.movie-info {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.poster img {
    max-width: 80px;
    height: 100%;
}

.movie h1 {
    font-size: 1rem;
    font-weight: 600;
}

.plot {
    margin-top: .6rem;
}

.plot p {
    font-size: .8rem;
    line-height: 1.4;
}